body {
    background: #BFAA84;
    font-family: Arial, Helvetica, sans-serif;
}

.assignments {
    display: flex;
    flex-wrap: wrap;
}

.assignment {
    width: 22%;
    padding: 10px;
    margin: 10px;
    padding: 20px 10px;
    background: #BF7154;
    border-radius: 20px;
}

.assignment img {
    width: 200px;
    max-height: 200px;
    margin: 10px;
    border: 4px dashed #592816;
    display: block;
    margin: auto;
}

.assignment img:hover{
    border: 4px dashed white;
}

h1 {
    color: #F25C5C;
    text-align: center;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #BFAA84;
}

a:hover {
    color: white;
}